
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
/* top bar start */
#top-bar {
    width: 100%;
    display: flex;
    top: 0;
    left: 0;
    /* justify-content: space-between; */
    align-items: center;
    box-shadow: 0 2px 5px #ccc;
    position: fixed;
    z-index: 10;
    background-color:#fff;
}
 
.page-title a{
    text-decoration: none;
    color:#000;

}
.page-title a h4 span {
    color:black;
    font-style: bold;
    letter-spacing: 1px;
    font-weight: 900;
    
}
.page-title h4 {
    font-size: 36px;
    font-weight: 100;
    letter-spacing: 2px;
    color: black;
    padding:15px 0px 15px 110px;
    margin: 0;
}
.menu-links  {
    list-style: none;
    padding: 5px;
    display: inline-flex;
    justify-content: start;
    align-items: center;
    padding-left: 38px;
}
.menu-links li a {
    text-decoration: none;
    font-size: 16px;
    font-style: bold;
    font-weight: 600;
    margin-left: 0px;
    transition: all 0.2s;
    color:black;
    padding: 0px 0px 0 18px;
}
.menu-icons {
    display: flex;
    align-items: center;
    color: #000;
}

.search-wrapper {
    position: relative;
}
.search-wrapper {
    padding: 0px 90px 18px 24px;
    margin-left: 60px;
    
}
.search-wrapper > i {
    position: absolute;
    color: #999;
    font-size: 18px;
    top: 50%;
    left: 18px;
    transform: translateY(-50%);
    padding-left:18px;
}
.search-bar {
    width: 385px;
    height: 35px;
    outline: none;
    border: none;
    background-color:rgb(245, 242, 242);
    margin-top: 20px;
    box-sizing: border-box;
    padding: 0px 24px 0px 48px;
    color: black;
}
.cart.icon > a {
  text-decoration: none;
  color:black;
}
.cart.icon > i{ 
   cursor: pointer;
   font-weight: 900;
   color: black;
  
}
#count {
  width: 18px;
  height: 18px;
  font-size: 13px;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  font-weight: 500;
  background-color: #009688;
  color: white;
  border-radius: 50%;
  position: absolute;
  top: 18px;
  right: 180px;
}
.user-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 20px;
}
/* top bar end */

/* burger line start */
/* .burger {
    display: none;
    flex-direction: column;
    padding: 10px;
}
.line{
    width: 25px;
    height: 3px;
    background-color: #000;
    transition: all 0.3s ease;
    margin-top: 5px;
} */
/* burger line end */
.carousel-container{
    width: 80%;
    box-sizing: border-box;
    border-bottom:2px solid grey;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7%;
}
.img-slider {
   width: 100%;
}
.img-slider img {
    width: 100%;
}

/* product details start */

  #product-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 2% 8%;
    box-sizing: border-box;
     margin-top: 5%;
}
#image{
    width: 40%;
    /* height:70%; */
    padding-right: 8%;
    box-sizing: border-box;
    align-self: flex-start;
}
#product-preview{
    width: 100%;
    box-sizing: border-box;
}

#details-wrapper{
    align-self: flex-start;
    width: 60%;
    box-sizing: border-box;
    z-index: 5;
}
#product-title{
    font-size: 48px;
    font-weight: 500;
    margin: 0;
}
#product-brand {
    font-weight: 600;
    color: black;
    opacity: 0.6;
    margin: 0;
    margin-top: 8px;
}
.main-heading{
    font-size: 24px;
    color: rgba(0, 0, 0, 0.8);
    margin-top: 36px;
    font-weight: 400;
}
#price {
    max-width: 500px;
    font-size: 24px;
    letter-spacing: 1px;
    line-height: 1.3;
    font-weight: 600;
    color: #009688;
    margin: 0;
    display: inline-block;
}
#description {
    max-width: 500px;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 1.3;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
}
#preview-images {
    display: flex;
}
#preview-images > img {
    width: 110px;
    border-radius: 6px;
    margin: 0 8px;
    cursor: pointer;
    border-radius: 5px;
    padding: 4px;
}
.active-image {
    box-sizing: content-box;
    border: 2px solid #009688;
}
#id{
    display: none;
}
#add-to-cart:hover{
    transform:scale(1.1,1.1)
}
#add-to-cart{
    background-color: #009688;
    font-size: 18px;
    border: 0;
    cursor: pointer;
    outline: none;
    padding: 18px 36px;
    border-radius: 6px;
    margin-top: 36px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.8);
    color: white;
    transition: transform 200ms;
}
  
/* product details end */

/* Dynamic grid start */

.container-head {
   margin-top: 8%;
  margin-left: 8%;
  font-size: 28px;
    font-weight: 600;
    opacity: 0.8;
    color: rgba(0, 0, 0, 0.8);
}
.card-heading {
  /* font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: rgb(27, 25, 25);
  margin-left: 10px; */
  font-weight: 600;
    margin-left: 10px;
    font-size: 17px;
}
.card-brand {
  text-align: left;
  font-size: 14px;
  margin-left: 10px;
  font-weight: 600;
    opacity: 0.8;
}
.card-price {
  margin-left: 10px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 2px;
  color: #009688;
  padding: 10px;
}
.card-img {
  width: 100%;
}
.main-card {
  width: 16%;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  margin: 10px;
  margin-bottom: 8%;
}

.main-card:hover {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.9);
}
.container {
  margin-left: 9%;
  display: flex;
  flex-wrap:wrap;
}

@media (max-width: 780px) {
  .main-card {
    width:42%;
  }
}

/* Dynamic grid end */


/* Footer */
footer {
    width: 100%;
    background-color: #1c1b1e; 
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 4% 8%;
    margin-top: 6%;
 }
 
 footer > div {
     padding-left: 60px;
     padding-right: 60px;
 }
 
 footer > div:first-of-type {
     padding-left: 0;
 }
 
 .footer-heading {
     text-transform: uppercase;
     font-weight: 600;
     font-size: 16px;
     color: white;
     opacity: 0.9;
     letter-spacing: 1px;
 }
 
 .footer-link {
     text-decoration: none;
     color: white;
     display: block;
     margin-top: 12px;
     letter-spacing: 1px;
     text-transform: uppercase;
     font-size: 14px;
     opacity: 0.8;
 }

 /* footer end */

 /* checkout start */

.checkout-heading{
  font-size: 36px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 48px;
}
#checkout{
  width: 100%;
  min-height: 80vh;
  box-sizing: border-box;
  margin-top: 100px; 
  padding-bottom: 8%;
  margin-left: 8%;
}
#checkout-wrapper{
  display: flex;
  justify-content: start;
}
#check-list{
  width:50%
}
#total{
  font-size: 24px;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 400;
  margin: 0;
  margin-bottom: 16px;
}
#total-item{
  font-size: 24px;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 400;
  margin: 0;
}
#amt{
  width: 50%;
  height: fit-content;
  margin-top: 48px;
  margin-left: 26%;
  box-sizing: border-box;
  box-shadow: 0 2px 5px #ccc;
  border-radius: 5px;
  padding: 16px;
}
#total-amount{
  color: black;
  opacity: 0.8;
  font-size: 24px;
  font-weight: 800;
  margin-left: 4px;
}
#btn-place-order {
  background-color: #009688;
  font-size: 18px;
  border: 0;
  cursor: pointer;
  outline: none;
  padding: 18px 36px;
  border-radius: 6px;
  margin-top: 36px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.8);
  color: white;
}


.checkout-card{
  display: flex;
  box-sizing: border-box;
  box-shadow: 0 2px 5px  #ccc;
  border-radius: 5px;
  background-color: white;
  max-width: 600px;
  padding: 16px;
  margin-bottom: 16px;
}
.checkout-product-img{
  width: 80px;
  min-width: 80px;
  border-radius: 5px;
  margin-right: 16px;
}
.right-details h4{
  font-weight: 600;
  margin: 0;
  margin-bottom: 4px;
  font-size: 18px;
}
.right-details p{
  margin: 0;
  margin-top: 4px;
  margin-bottom: 4px;
}
/* checkout end */
/* confirmation page start */

#confirmation{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 4%;
  margin-top: 5%;
}
#tick-wrapper {
  width: 200px;
  height: 200px;
  background-color: #49d049;
  border-radius: 50%;
  padding: 40px;
  box-sizing: border-box;
  animation: popup 1s;
}
#tick-wrapper img {
  width: 100%;
}

@keyframes popup {
  0%{
      transform: scale(0);
  }
  60%{
      transform: scale(1.25, 1.25);
  }
  100%{
      transform: scale(1, 1);
  }
}
.spl-heading{

  font-size: 28px;
  font-weight: 600;
  opacity: 0.8;
}
/* confirmation page end */

/* edyoda */
#edyoda-projects-logo {
  width: 128px;
  position: fixed;
  bottom: 50px;
  right: 50px;
}
